
.titulo{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
}
.postagens{
    display: flex;
    justify-content: center;
    max-width: 100%;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}
